
body{
  font-family: 'Inconsolata', monospace;
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxMjA3fDB8MXxzZWFyY2h8MXx8aGFja2VyfHwwfHx8&ixlib=rb-1.2.1&q=80&w=1080);
}

.one{
margin: 20px 20px 20px 20px;
background-color: #019322;
color: White;
}

h3{
    margin: 20px 20px 20px 20px;
background-color: #019322;
color: White;
}

p{
  background-color: #18c200;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #18c200;
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #149414;
}

.container{
  background-color: white;
  margin: 0;
  width: 100%;
  align-items: center;
}
.top{
  background-color: #18c200
}
.navbar{
  margin: 0;
  background-color: #18c200;
}

.col {
  padding: 2% 5%;
}
.photo{
  width: 100%;
}

#call{
background-color: #019322;
display: block;
margin-top: 100px;
padding-top: 50px;
height: 250px;
width: 100%
}

.last{
  background-color: black;
}

#bottom{
  background-color: black;
  color: white;
  padding: 5%;
}
